</div>
<!-- /.container -->
<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript">
    $("#langSel").change(function() {
        var value   =  $("#langSel").val();  
        $.ajax({   
            url: value, 
            type: 'GET',  
            dataType: 'html',  
            success:function(data) {
            //    alert(data);
                location.reload();
            }
        })
    });
</script>
{% if length(errorMessages) > 0 %}
    {% for filed,message in errorMessages %}
        <div class="row" id="message-alert" style="position: absolute;right: 20px;z-index: 99999;top: 10px;">
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                {{ filed }} : {{ message }}
            </div>
        </div>
        <script>
            $(function () {
                setTimeout(function(){
                    $("#message-alert").hide();
                },3000);
            })
        </script>
    {% endfor %}
{% endif %}

</body>

</html>