{% include "header.html" %}

<div class="row">

    <!-- Post Content Column -->
    <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">{{post.post_title}}</h1>

        <!-- Author -->
        <p class="lead">
            by
            <a href="#">{{post.user.display_name}}</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>{{post.post_date}}</p>

        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">

        <hr>

        <!-- Post Content -->
        <p class="blockquote-footer">{{post.post_excerpt}}</p>

        <blockquote class="blockquote">
            {{post.post_content}}
        </blockquote>
        <hr>

        <!-- Comment Form -->
        <div class="card my-4">
            <h5 class="card-header">{{lang('message.leave-comment')}}:</h5>
            <div class="card-body">
                <form action="/comment" method="post">
                    <div class="form-group">
                        <input type="hidden" name="postId" value="{{post.id}}">
                        <textarea name="content" class="form-control" rows="3"></textarea>
                    </div>
                    <button id="submit-comment-btn" type="submit" class="btn btn-primary">{{lang('message.submit')}}</button>
                </form>
            </div>
        </div>

        <!-- Single Comment -->
        {% for comment in comments %}
            <div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <h5 class="mt-0">{{comment.comment_author}}</h5>
                    <p>{{comment.comment_date}}</p>
                    {{comment.comment_content}}
                </div>
            </div>
        {% endfor %}

    </div>

    {% include "right.html" %}

</div>
<!-- /.row -->

{% include "footer.html" %}

