{% include "header.html" %}

<div class="row">

    <!-- Post Content Column -->
    <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">{{post.post_title}}</h1>

        <!-- Author -->
        <p class="lead">
            by
            <a href="#">{{post.users.display_name}}</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>{{post.post_date}}</p>

        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">

        <hr>

        <!-- Post Content -->
        <p class="blockquote-footer">{{post.post_excerpt}}</p>

        <blockquote class="blockquote">
            {{post.post_content}}
        </blockquote>
        <hr>

        <!-- Comments Form -->
        <div class="card my-4">
            <h5 class="card-header">Leave a Comment:</h5>
            <div class="card-body">
                <form action="/comment?post_id={{post.id}}" method="post">
                    <div class="form-group">
                        <input type="hidden" name="author" value="匿名">
                        <textarea name="content" class="form-control" rows="3"></textarea>
                    </div>
                    <button id="submit-comment-btn" type="button" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

        <!-- Single Comment -->
        {% for comment in comments %}
            <div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <h5 class="mt-0">{{comment.comment_author}}</h5>
                    <p>{{comment.comment_date}}</p>
                    {{comment.comment_content}}
                </div>
            </div>
        {% endfor %}

    </div>

    {% include "right.html" %}

</div>
<!-- /.row -->

{% include "footer.html" %}
<script>
    
    $(function () {
        $("#submit-comment-btn").on("click", function () {
            var postId = "{{post.id}}";
            var author = $("input[name=author]").val();
            var content = $("textarea[name=content]").val();
            if(content == '' || content == undefined){
                alert("Please enter your comment!");
                return false;
            }
            $.ajax({
                url:"/comment",
                type:"POST",
                async:false,
                dataType:"text",
                data:{
                    post_id:postId,
                    author:author,
                    content:content
                },
                success:function(req , status){
                    console.log(req);
                    if(req == 'success'){
                        alert("success");
                        location.reload();
                    }
                },
                error:function(req,status){
                    alert("error");
                }
            })
        });
    })    
</script>