{% include "header.html" %}
<br>
<form method="post" action="/register">
    <div class="form-group">
        <p class="input-wrapper">
            <input type="text" placeholder="Name" name="name"/><br>
        </p>
        <p class="input-wrapper">
            <input type="password" placeholder="Password" name="password"/><br>
        </p>
        <p class="input-wrapper">
            <input type="text" placeholder="E-mail" name="email"/><br>
        </p>
        <input type="submit" class="proceed__button btn submit" value="submit"/>
    </div>
</form>