{% include "header.html" %}
<br>
<form method="post" action="/register">
    <div class="form-group">
        <p class="input-wrapper">
            <input type="text" placeholder="{{lang('message.name')}}" name="name"/><br>
        </p>
        <p class="input-wrapper">
            <input type="password" placeholder="{{lang('message.password')}}" name="password"/><br>
        </p>
        <p class="input-wrapper">
            <input type="text" placeholder="{{lang('message.email')}}" name="email"/><br>
        </p>
        <input type="submit" class="proceed__button btn submit" value="{{lang('message.submit')}}"/>
    </div>
</form>

{% include "footer.html" %}
